/**********HTML***********/
body {
    font-size: 14px;
    width: 90%;
    font-family: Arial;
}

button {
    width: 60px;
    height: 20px;
}

a:link {
    text-decoration: none;
    font-style: italic;
    color: blueviolet;
}

a:visited {
    text-decoration: overline;
    color: #03598A;
}

a:hover {
    text-decoration: underline;
    font-weight: bold;
    font-style: normal;
    font-size: 111%;
    color: black;
}

/***DROP-DOWN***/

.dropbtn {
    background-color: #F5F5DC;
    color: #000001;
    padding: 40%;
    font-size: 14px;
    border: none;
    font-weight: bold;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #F5F5DC;
    min-width: 50px;
    box-shadow: 0px 6px 10px 0px #000001;
    font-size: 14px;
    z-index: 1;
}

.dropdown-content a {
    color: #000001;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #F5F5DC;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #F5F5DC;
    font-size: 110%;
}

/*********HTML-SLUT***********/

/**********GRID***********/

/***GRID-CLASS***/
.mainMeny {
    margin: 50px;
    background-color: #F5F5DC;
    display: grid;
    grid-template-areas:
        "top top right"
        "left center right"
        "bottom bottom bottom";
    grid-template-columns: 100px 1fr 1fr;
    grid-gap: 20px 20px;
}

/*.mainMeny span {
}*/

/***GRID-ID***/

.top {
    grid-area: top;

}

.left {
    grid-area: left;
}

.center {
    grid-area: center;


}

.bottom {
    grid-area: bottom;
    display: none;


}

.right {
    grid-area: right;
    display: none;


}

/*********GRID-SLUT***********/

/*********MEDIA-QUIRES*********/


/*********MEDIA-SLUT*********/

/*********FLEXBOX***********/

/***FLEXBOX-CLASS***/
.flexMeny {
    flex-direction: column;
    align-items: flex-end;
    display: flex;
    font-size: 22px;
    font-weight: bold;


}

.textBox {
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;

}

.form1 {
    margin: 50px;
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    width: 250px;
    height: 300px;
    background-color: #F5F5DC;
}

/***FLEXBOX-ID***/

#flexHeader1 {
    font-size: 18px;
    font-weight: bold;
}

#flexHeader2 {
    font-size: 18px;
    font-weight: bold;
}

#flexHeader3 {
    font-size: 18px;
    font-weight: bold;
}

#flexHeader4 {
    font-size: 18px;
    font-weight: bold;
}

#flexNav {
    align-items: flex-start;
}


#login {
    flex-direction: column;
    justify-content: flex-start;
    display: flex;
    margin: initial;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: start;
    background-color: #F5F5DC;
    width: 200px;
    margin: 50px;
}

#signIn {
    font-size: 18px;
    font-weight: bold;
}


/*********FLEXBOX-SLUT***********/
